* {
	box-sizing: border-box;
}
body{
	background-color: #f3e4bb;
	color: goldenrod;
	font-family: cursive;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
	
}
.container{
	width: 90%;
	margin: auto;
	overflow: hidden;
}
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
}
li{
	margin:  0 20px;
	list-style: none;
}
a{
	color: rgb(95, 75, 7);
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}
 a:hover{
text-shadow: 0 2px 5px #712e1e;
 }
a:active{
	color: rgb(83, 71, 14);
}
#showcase{
	background-image:linear-gradient(rgba(0, 0, 0, 0.527) , rgba(0, 0, 0, 0.5)) , url('chinese-restaurant.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size : cover;
	margin-bottom: 30px;
	text-align: left;
	min-height: 500px;
	padding-left: 300px;
	padding-bottom: 20px;
    border-radius: 7px;
	color: #f8cbaf;
	font-size: large;
	align-items: center;
}
.btn-1 {
	background-color: #712e1e;
	padding: 15px;
	border-radius: 10px;
	border: none;
	color: #f3e4bb;
	font-family: cursive;
    font-size: large;
	margin-bottom: 50px;
}
.btn-1:hover {
	background-color: #f3e4bb;
	transform: translate(0px, 0px) rotate(20deg);
	color: #541412;
}

#showcase h1{
	font-size: 40px;
	line-height: normal;
	padding-top: 20px;
	margin-bottom: 50px;
}
.welcome-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 200px;
}
.services-we-offer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.services {
    height: 200px;
	text-align: center;
	background-color: #712e1e;
	width: 120px;
	min-height: 250px;
	width: 20%;
	border-radius: 10px;
	padding-bottom: 15px;
	padding-top: 15px;
	border: 2px solid#541412;
    margin: 0 5px ;
}
.icons{
	height: 40px;
	opacity: 0.45;
}
#main-footer{
	clear: both;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
	color: #541412;
	width: 100%;
}

.csr{
border: 1px solid #541412;
width: 80%;
height: 300px;
margin-right: auto;
margin-left: auto;
font-family: monospace;
}

img{
	max-width: 100%;
	max-height: 100%;
}
.row{
	width: 100%;
	margin-top: 10px;
}
.lg-3:hover{
	opacity: 50%;
}

.reviews{
	margin: auto;
}
.rvw{
	margin: 5px auto;
	padding: 10px;
	margin-bottom: 40px;
	box-shadow: 0 3px 5px black;
	box-sizing: border-box;
	border-radius: 10px;
	width: 100%;
	background-color: #752c1a;
}
.rvw>p{
	margin-top: 0;
}
.csr{
	border: 1px solid #541412;
	width: 80%;
	height: 300px;
	margin-right: 8px;
	margin-left: 8px;
	font-family: monospace;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	}



@media(max-width: 600px){
	#main{
		width: 100%;
		float: none;
	}
	#sidebar{
		width: 100%;
		display: block;	
	}
    .rvw{
	float: none;
	width: 80%;
	margin: auto;
	margin-bottom: 5px;
}
.services {
	display: block;
}
}

@media(min-width: 1200px){
	.lg-3{
		float: left;
		width: 25%;
		box-sizing: border-box;
	}
	img{
		height: 100%;
	}
}


        	


@media(min-width: 950px) and (max-width: 1190px){
.md-6{
	float: left;
		width: 50%;
		box-sizing: border-box;

}}

	
