@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;600;700&display=swap');
* {
	box-sizing: border-box;
}
body{
	background-color: #f3e4bb;
	color: rgb(85, 52, 4);
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
	
}
.container{
	width: 90%;
	margin: auto;
	overflow: hidden;
}
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
}
li{
	margin:  0 20px;
	list-style: none;
}
 nav a{
	color: rgb(95, 75, 7);
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}
 a:hover{
text-shadow: 0 2px 5px #712e1e;
 }
a:active{
	color: rgb(83, 71, 14);
}
#showcase{
	background-image:linear-gradient(rgba(0, 0, 0, 0.527) , rgba(0, 0, 0, 0.5)) , url('chinese-restaurant.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size : cover;
	margin-bottom: 30px;
	min-height: 400px;
	padding-bottom: 20px;
	color: #f8cbaf;
	font-size: large;
	text-align: left;
	padding-left: 30%;
	padding-top: 150px;
}
.btn-1 {
	background-color: #712e1e;
	padding: 15px;
	border-radius: 10px;
	border: none;
	color: #f3e4bb;
	font-family: cursive;
    font-size: large;
	margin-bottom: 50px;
}
.btn-1:hover {
	background-color: #f3e4bb;
	transform: translate(0px, 0px) rotate(20deg);
	color: #541412;
}
.btn-2{
	background-color: #712e1e;
	padding: 7px;
	border-radius: 5px;
	border: none;
	color: #f3e4bb;
	font-family: cursive;
    font-size: large;
}

#showcase h1{
	font-size: 40px;
	line-height: normal;
	padding-top: 20px;
	margin-bottom: 50px;
}
.welcome-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 200px;
}
.services-we-offer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.services {
	color: goldenrod;
    height: 200px;
	text-align: center;
	background-color: #712e1e;
	width: 120px;
	min-height: 250px;
	width: 20%;
	border-radius: 10px;
	padding-bottom: 15px;
	padding-top: 15px;
	border: 2px solid#541412;
    margin: 0 5px ;
}
#services{
	padding-bottom: 15px;
	border-bottom: #541412 2px solid;
}
.icons{
	height: 40px;
	opacity: 0.45;
}
.call h2{
	text-align: left;
}
.food-item{
	height: 200px;
	width: 30%;
}
#main-footer{
	clear: both;
	text-align: left;
	padding: 20px;
	margin-top: 40px;
	background-color: #541412;
	width: 100%;
	color: #f3e4bb;
    overflow: hidden;
}
#main-footer a{
	text-decoration: none;
	color: #f3e4bb;
}
#main-footer ul{
	display: flex;
	flex-direction: row;
}
#main-footer li{
    border-right: 1px rgb(146, 20, 20) solid ;
	padding-right: 3%;
}
.right, .left{
	display: flex;
	flex-direction: row;
	gap: 10%;
    border-bottom: #541412 2px dashed;
	padding:10px;
}

.food-item{
	width: 40%;
	border: #752c1a 1px double;
	border-radius: 10%;
}

#chefs img{
	width: 200px;
	height: 200px;
	border-radius: 20%;
}
h2{
	text-align: center;
}
.chefs{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
@media screen (max-width:320px) {
	#showcase{
		text-align: center;
	}
}